<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= "#{@user.first_name}" %> tu es bien inscrit à l'evenement <%= "#{@attendance.event.title}" %> </h1>
    <p> <%= "#{@user.first_name}" "#{@user.first_name}" "#{@user.first_name}" %> 
      À très vite sur monsite.fr !</p>
  </body>
</html>