<% user_name = @resource.try(:first_name).presence || @resource.email %>
<% reset_link = edit_password_url(@resource, reset_password_token: @token) %>

<p>Salut <%= user_name %> !</p>

<p>Tu viens de demander la réinitialisation de ton mot de passe Grenoble Roller. Clique sur le bouton ci-dessous pour en créer un nouveau :</p>

<p><%= link_to "Changer mon mot de passe", reset_link %></p>

<p>Si le bouton ne s’affiche pas, copie-colle ce lien dans ton navigateur :</p>
<p><%= reset_link %></p>

<p>Si tu n’es pas à l’origine de cette demande, ignore ce message : ton mot de passe restera inchangé.</p>

<p>À très vite sur la rando,<br>
Les bénévoles Grenoble Roller</p>
